strong {
	color: #359FCF;
}

.Logos a {
	text-decoration: none;
}

.rightS {
	position:relative;
}

.productButtons {
	text-align: center;
}

.productButtons .prodButton {
	margin: 4px auto;
	width: 180px;
}

.productButtons .prodButton img{
	margin: 0px;
}

.prodQty select {
	width:130px;
}

.catSideBar {
	margin-left:20px;
}

.catSideBar ul, .catSideBar li{
	padding: 0px;
	margin: 0px;
	list-style:none;
}

.clear {
	clear: both;
}

.catSideBar{
	margin-left: 20px;
}

.blueBorder { border: 1px solid #1690C8; padding: 10px;}
.prodViewerAddToCartForm  fieldset {margin: 5px;}
.prodViewerAddToCartForm  input[name=qty] {padding: 5px;}

.prodDetail { height: 0px; overflow:hidden; }

address[data-templateid=chkoutBuyerAddressTemplate]{
	width: 300px;
	margin-bottom: 15px;
}
address[data-templateid=chkoutBuyerAddressTemplate] .addressFullname,
address[data-templateid=chkoutBuyerAddressTemplate] .address {
	width: 250px;
}

.hint {
	text-decoration: underline;
	margin: 0px 8px;
}

.signupHeight {
	line-height: 39px;
}

#subscribeFrmFooter .submit {
	margin-top: 10px;
	margin-left: 5px;
}